<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This is a message from example.com to <%= @user.firstname %></h1>
    <p>
      You have been deleted from example.com by an admin<br>
    </p>
    <p>
      To do something on the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for being a part of our community and have a great day!</p>
  </body>
</html>